/.vscode/
/Data/
/.idea/
/*_Unaligned/
/*_Aligned/
/*_Aligned_cropped/
/Link*
/__pycache__/
/preproc*
/acdc_surfaces/src/
/acdc_surfaces/__pycache__/
/acdc_surfaces/.vscode/
/acdc_surfaces/config/__pycache__/
/acdc_logdir/
/acdc_surfaces/experiments/__pycache__/
/acdc_surfaces/tfwrapper/__pycache__/
